.ColorBox {
  display: inline-block;
  height: 25%;
  margin: 0 auto -3.6px;
  position: relative;
  width: 20%;

  .copy-button {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    height: 30px;
    left: 50%;
    line-height: 30px;
    opacity: 0;
    outline: none;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
  }

  &:hover .copy-button {
    opacity: 1;
    transition: 0.5s;
  }

  .box-content {
    bottom: 0;
    color: black;
    font-size: 12px;
    left: 0;
    letter-spacing: 1px;
    padding: 10px;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
  }

  .see-more {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    bottom: 0;
    color: white;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    width: 60px;
  }

  .copy-overlay {
    height: 100%;
    opacity: 0;
    transform: scale(0.1);
    transition: transform 0.6s ease-in-out;
    width: 100%;
    z-index: 0;

    &.show {
      opacity: 1;
      position: absolute;
      transform: scale(50);
      z-index: 1;
    }
  }

  .copy-msg {
    align-items: center;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: scale(0.1);

    &.show {
      opacity: 1;
      transform: scale(1);
      transition-delay: .3s;
      transition: all .4s ease-in-out;
      z-index: 2;
    }

    h1 {
      background: rgba(255,255,255,.2);
      font-weight: 400;
      margin-bottom: 0;
      padding: 1rem;
      text-align: center;
      text-shadow: 1px 2px black;
      text-transform: uppercase;
      width: 100%;
    }

    p {
      font-size: 2rem;
      font-weight: 300;
    }
  }
}
