.Palette {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &-colors {
    height: 90%;
  }

  .Palette-footer {
    align-items: center;
    background-color: white;
    display: flex;
    font-weight: bold;
    height: 5vh;
    justify-content: flex-end;

    .emoji {
      font-size: 1.5rem;
      margin: 1rem;
    }
  }
}
